# Trusted profile tunnel
# Peers in this profile are allowed to access ConsolePi SSH.

[Interface]
Address = 10.99.99.1/24
ListenPort = 51820
PrivateKey = <HUB_TRUSTED_PRIVATE_KEY>
SaveConfig = false
PostUp = iptables -A FORWARD -i %i -o %i -j DROP
PostDown = iptables -D FORWARD -i %i -o %i -j DROP
