# Profile B2 (TRUSTED)
# Use this for peers that are allowed to SSH into ConsolePi over the tunnel.

[Interface]
Address = 10.99.99.12/32
PrivateKey = <TRUSTED_PEER_2_PRIVATE_KEY>

[Peer]
PublicKey = <HUB_PUBLIC_KEY>
Endpoint = <PUBLIC_IP_OR_DDNS>:51821
AllowedIPs = 10.99.99.1/32
PersistentKeepalive = 25
