# Profile A3 (UNTRUSTED)
# Use this for peers that should form VPN connectivity but NOT access ConsolePi SSH.

[Interface]
Address = 10.99.98.13/32
PrivateKey = <UNTRUSTED_PEER_3_PRIVATE_KEY>

[Peer]
PublicKey = <HUB_PUBLIC_KEY>
Endpoint = <PUBLIC_IP_OR_DDNS>:51820
AllowedIPs = 10.99.98.1/32
PersistentKeepalive = 25
